# Python
__pycache__/
*.pyc

# Environment
venv/
.env/
.venv/
moss-tts/

# Large data
data/
outputs/
*.wav
*.mp3
*.flac

# Model files
pretrained_models/
*.pt
*.pth
*.safetensors

# System
.DS_Store
Thumbs.db

# VS Code
.vscode/